<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/foundation_css/normalize.css" />
    <link rel="stylesheet" href="/foundation_css/foundation.css" />
    <link rel="stylesheet" href="/foundation_css/app.css"/>
    <link rel="stylesheet" href="/foundation_css/foundation.min.css"/>
    <script src="/js/vendor/custom.modernizr.js"></script>
    <title>Redemptoris Mater Cape Town South Africa</title>    
  </head>
  <style type="text/css" media="all">
    .green{
      color:  #6CA524;
    }
    .bottom-padding {
      padding-bottom: 2.5em;
    }

    h3 {
      color: gray;
    }
  </style>
  <body>
    <div class="row">
      <center><div class="large-12 columns">
        <center><img src="/rmsouthafrica-images/rmsa-logo.gif" width="900" height="253"/></center>
      </div></center>
    </div> 
    <div class "row">
      <div class="large-12 columns">
        <center><h3>COMING <span class="green">SOON</span></h3></center>
      </div>
      <div>
        <center><img src="/rmsouthafrica-images/tree-master.png" alt="" /></center>
      </div>
    </div>
    <div class="row bottom-padding">
      <center><h3>DON'T LET YOUR <span class="green">LIFE</span> RUN OUT OF <span class="green">HOPE</span><br />A <span class="green">CHANCE</span> OF REBIRTH <span class="green">IS POSSIBLE</span></h3></center>
      <center><a href="mailto:info@rmsouthafrica.org">info@rmsouthafrica.org</a></center>
    </div>
