<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/foundation_css/normalize.css" />
    <link rel="stylesheet" href="/foundation_css/foundation.css" />
    <link rel="stylesheet" href="/foundation_css/app.css"/>
    <link rel="stylesheet" href="/foundation_css/foundation.min.css"/>
    <script src="/js/vendor/custom.modernizr.js"></script>
    <title>Redemptoris Mater Cape Town South Africa</title>    
  </head>
  <body>
    <div class="row">
      <center><div class="large-12 columns">
        <img src= "https://raw.github.com/rmsouthafrica/rmsouthafrica.github.io/master/rmsouthafrica-images/rmsouthafrica_logo.gif" width="900" height="253" alt="" />
      </div></center>
    </div> 
    <div class "row">
      <div class="large-12 columns">
        <center><h1><span>COMING</span> <span>SOON</span></h1></center>
      </div>
      <div>
        <center><img src="https://raw.github.com/rmsouthafrica/rmsouthafrica.github.io/master/rmsouthafrica-images/tree-master.png" width="612" height="612" /></center>
      </div>
    </div> 
